{% extends 'base.html' %}
{% block title %}
<title>내 실험실</title>
{% endblock %}
{% block content %}
<div class="bb main clearfix">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>번호</th>
                <th style="width:50%;">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if post_list %}
            {% for post in post_list %}
            <tr>
                <td>{{ post.id }}</td>
                <td style="text-align: left;">
                    <a href="{% url 'mylab:post_detail' post.id %}">{{ post.subject }}</a>
                </td>
                <td>{{ post.author.username }}</td>
                <td>{{ post.create_date }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <ul class="pagination clearfix">
        <li class="page-item">
            <a href="?page=1"><<</a>
        </li>
        {% if post_list.has_previous %}
        <li class="page-item">
            <a href="?page={{ post_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_number in post_list.paginator.page_range %}
        {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
            {% if page_number == post_list.number %}
            <li class="page-item" aria-current="page" style="background-color: lightblue;">
                <a href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        {% if post_list.has_next %}
        <li class="page-item">
            <a href="?page={{ post_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a href="?page={{ post_list.paginator.num_pages }}">>></a>
        </li>
    </ul>
    <a href="{% url 'mylab:post_create' %}" class="btn" style="float: right;">글쓰기</a>
</div>
{% endblock %}